
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('http://preloaders.net/preloaders/720/Moving%20line.gif') no-repeat center center;
}

.footer {
  float: right;
  color: #999;
  background: #fff;
  padding: 3rem;
}


.references p{
   /* font-size: 110%!important; */
   color: #858585;
}


input#toggleButton{
  background-color: #f0f0f0;
  font-weight: normal;
  border: 1px solid rgba(180, 180, 180, .30);
  margin-bottom: 20px;
}


pre {
  font-size: 1.2rem;
}

h1 {
  font-size: 150%!important;
  text-transform: uppercase;
}
h2 {
  font-size: 120%!important;
}
h3 {
  font-size: 110%!important;
}
h4 {
  font-size: 100%!important;
}
